#wrapper
  #sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a{:href => "#"}
          SuperAdmin Portal
      %li
        %a{:href => "#{admin_root_path}"} Dashboard
      %li
        %a{:href => "#{admin_users_path}"} Users
      %li
        %a{:href => "#"} Entities
      %li
        %a{:href => "#"} Phone Numbers
      %li
        %a{:href => "#"} Mappings
      %li
        %a{:href => "#"} Mapping Types
      %li
        %a{:href => "#"} Contact
