#wrapper
  #sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a{:href => "#"}
          Manager Portal
      %li
        %a{:href => "#{user_root_path}"} Dashboard
      %li
        %a{:href => "#"} Something Else
      %li
        %a{:href => "#"} Entities
      %li
        %a{:href => "#"} Phone Numbers
      %li
        %a{:href => "#"} Mappings
      %li
        %a{:href => "#"} Mapping Types
      %li
        %a{:href => "#"} Contact
